 .painel.inativo {
     display: none;
 }

 .cor {
    background-color: #003B73BD;
 }

 .btpadrao{
    background-color: #1a4268;
    color: #fff;
}

.btpadrao:hover{
    background-color: #0ebeea;
}